.login-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #134e5e, #71b280); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #134e5e, #71b280);
}

.login {
  position: absolute;
  width: 460px;
  height: 262px;
  overflow: auto;
  padding: 20px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  font-size: 1em;
  background-color: #FFFFFF;
  border-radius: 3px;

  h4 {
    padding-bottom: 8px;
    margin-bottom: 30px;
    font-size: 1.5em;
    border-bottom: 2px solid #58774e;
  }
}

/deep/ .login {
  .icon {
    width: 30px;
    height: 30px;
    align-self: center;
    flex-grow: 1;
  }

  .input {
    flex-grow: 5;
  }

  .btn-wrap {
    margin-top: 20px;
    justify-content: flex-end;

    button {
      margin-left: 20px;
    }
  }
}