.message-wrap {
  position: relative;
  height: 100vh;

  .message {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    color: #979797;
    text-align: center;
    border: 32px solid #ff6600;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .error-code {
    margin-top: 70px;
    line-height: 1.4;
    font-size: 6em;
    font-weight: 600;
  }

  .error-message {
    line-height: 1.2;
    font-size: 3.8em;
    text-transform: uppercase;
  }

  .error-note {
    margin-top: 20px;
  }

  a {
    color: #ff6600;
    cursor: pointer;
  }
}