<div class="wrapper-outer">
  <div class="wrapper-inner">

    <ul>
      <li>
        <a routerLink="/">
          <span class="line"></span>
          <span>Главная</span>
        </a>
      </li>
      <li>
        <a>
          <span class="line"></span>
          <span>Услуги</span>
        </a>
      </li>
      <li>
        <a>
          <span class="line"></span>
          <span>Прайс-лист</span>
        </a>
      </li>
      <li>
        <a>
          <span class="line"></span>
          <span>Рассрочка</span>
        </a>
      </li>
      <li>
        <a>
          <span class="line"></span>
          <span>Врачи</span>
        </a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">
          <span class="line"></span>
          <span>О компании</span>
        </a>
      </li>
      <li>
        <a>
          <span class="line"></span>
          <span>Контакты</span>
        </a>
      </li>
    </ul>

  </div>
</div>

