<div class="flex-row">
  <h2>{{ title }}</h2>
  <span class="counter">кол-во записей: {{ rowCounter }}</span>
  <div class="backendForm"></div>
  <form [formGroup]="filterForm" class="filterForm">
    <md-input-container class="search-container">
      <input formControlName="query" mdInput placeholder="Строка поиска">
    </md-input-container>
  </form>
</div>

<table>
  <thead *ngIf="tableRows.length > 0">
    <tr>
      <th *ngFor="let item of fields; let i = index" (click)="setSortByFieldIndex(i)">
        <span>{{ item.title }}</span>
        <md-icon svgIcon="{{ item.svg }}"></md-icon>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tableRows">
      <td *ngFor="let field of fields">
        {{ item[field.name] | cellFormat:field.pattern }}
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="tfoot">
    <tr>
      <th *ngFor="let item of fields;">
        <span>{{ item.title }}</span>
      </th>
    </tr>
  </tfoot>
</table>
