table {
  display: table;
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.86em;

  thead {
    border-bottom: 1px solid #d0d0d0;

    th {
      line-height: 1.2;
      font-weight: 600;
      border-bottom: 1px solid #d0d0d0;
    }
  }

  th, td {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding: 15px 5px;
  }

  td {
    border-top: 1px solid #E6E6E6;
  }
}