<md-card>
  <table>
    <thead>
      <tr>
        <th *ngFor="let item of tableFields; let i = index" (click)="setActiveSortField(i)">
          <span>{{item.title}}</span>
          <md-icon svgIcon="{{item.svg}}"></md-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of referralList">
        <td>{{ item['Дата обращения'] | date:"dd/MM/yyyy" }}</td>
        <td>{{ item['Администратор'] }}</td>
        <td>{{ item['Источник обращения'] }}</td>
        <td>{{ item['Фамилия'] + ' ' + item['Имя'] + ' ' + item['Отчество'] }}</td>
        <td>{{ item['Записан на первичную консультацию'] | date:"dd/MM/yyyy" }}</td>
        <td>{{ item['Фамилия врача'] }}</td>
      </tr>
    </tbody>
  </table>
</md-card>
