:host {
  position: relative;
  height: 60px;
}

header {
  height: inherit;
  width: 100%;
  color: #eeeeee;
  background-color: #607d8b;

  ul.left {
    margin-right: auto;

    .menu-icon {
      padding: 0 16px;
    }

    h2 {
      font-size: 1.2em;
    }
  }

  li, .mat-icon {
    display: flex;
    align-items: center;
  }

  .mat-icon {
    width: 26px;
    height: 26px;
  }
}