<header class="flex-row whiteframe-4dp">

  <ul class="flex-row left">
    <li>
      <h2>Статистика</h2>
    </li>
    <li class="menu-icon">
      <md-icon svgIcon="analytics:menu"></md-icon>
    </li>
  </ul>

  <div class="date-range-selection">
    <app-date-range-selection></app-date-range-selection>
  </div>

  <ul class="flex-row">
    <li>
      <button md-icon-button [mdMenuTriggerFor]="userMenu">
        <md-icon svgIcon="main:dots-vertical"></md-icon>
      </button>
      <md-menu #userMenu="mdMenu">
        <button md-menu-item [routerLink]="['/']">
          <md-icon svgIcon="main:home"></md-icon>
          <span>Домашняя</span>
        </button>
        <button md-menu-item [routerLink]="['/crm']">
          <md-icon svgIcon="main:account-clipboard"></md-icon>
          <span>Пациенты</span>
        </button>
        <button md-menu-item [routerLink]="['/logbook']">
          <md-icon svgIcon="main:file-excel"></md-icon>
          <span>Загрузить</span>
        </button>
        <button md-menu-item [routerLink]="['/logaut']">
          <md-icon svgIcon="main:logout-variant"></md-icon>
          <span>Выйти</span>
        </button>
      </md-menu>
    </li>
  </ul>

</header>

