:host {
  position: relative;
  height: 60px;
  color: #FFFFFF;
}

header {
  height: inherit;
  width: auto;
  padding: 0 20px;
  color: #eeeeee;
  background-color: #607d8b;

  ul.left {
    width: 220px;

    h2 {
      margin-right: 60px;
      font-size: 1.2em;
    }
  }

  .date-range-selection {
    margin-right: auto;
  }

  li, .mat-icon {
    display: flex;
    align-items: center;
  }

  .mat-icon {
    width: 26px;
    height: 26px;
  }


}