<section class="slide">
  <img class="img-family" src="assets/home-page/family.png">
  <div class="content-block">
    <div class="welcome">Добро пожаловать!</div>
    <h2 class="title">
      <span>Комплексная забота</span>
    </h2>
    <h2 class="title">
      <span>о вашей улыбки.</span>
    </h2>
    <div class="note">
      Мы единственная сеть стоматологических клиник в Красноярске, которая дает 7 лет гарантии на свои работы.
    </div>
    <div class="btn-wrap">
      <button md-raised-button>записаться на консультацию</button>
      <button md-button>подробнее</button>
    </div>
  </div>
</section>
