<section class="wrap-crm" style="">

  <md-progress-bar *ngIf="isLoading" mode="query" color="primary"
                   style="position: absolute; top: 0; left: 0;">
  </md-progress-bar>

  <form [formGroup]="searchForm" class="search-form" novalidate>
    <md-input-container>
      <input formControlName="query" mdInput placeholder="Введите фамилию пациента">
    </md-input-container>
  </form>

  <div class="wrap-search-result">
    <ul>
      <li *ngFor="let patient of foundPatients" (click)="selectPatient(patient)">
        {{ patient.patientFullName }}
      </li>
    </ul>
  </div>

  <div *ngIf="selectedPatient" class="wrap-select-patient">
    <div class="name">
      <span>{{ selectedPatient.patientFullName }}</span>
    </div>
    <div class="contacts">
      <span>тел: </span>
      <span>{{ selectedPatient.patientPhone }},</span>
      <span>почта: </span>
      <span>{{ selectedPatient.patientEmail }}</span>
    </div>
    <div class="line">
      <span>Обратился:</span>
      <span>{{ selectedPatient.requestDate | date:'dd.MM.y' }},</span>
      <span>Администратор: </span>
      <span>{{ selectedPatient.administratorName }},</span>
      <span>Источник обращения: </span>
      <span>{{ selectedPatient.referenceSource }}.</span>
    </div>
    <div class="line">
      <span>Записан на первичную консультацию: </span>
      <span>{{ selectedPatient.initialConsultationDate | date:'dd.MM.y HH:mm' }},</span>
      <span>Врач: </span>
      <span>{{ selectedPatient.doctorSurname }}.</span>
    </div>
    <div class="line">
      <span>Дата ПК: </span>
      <span>{{ selectedPatient.initialConsultationDate | date:'dd.MM.y HH:mm' }},</span>
      <span>Дата ПЛ: </span>
      <span *ngIf="selectedPatient.initialTreatmentDate">{{ selectedPatient.initialTreatmentDate | date:'dd.MM.y' }},</span>
      <span *ngIf="!selectedPatient.initialTreatmentDate">нет,</span>
      <span>Дата ВЛ: </span>
      <span *ngIf="selectedPatient.reTreatmentDate">{{ selectedPatient.reTreatmentDate | date:'dd.MM.y' }}.</span>
      <span *ngIf="!selectedPatient.reTreatmentDate">нет.</span>
    </div>
  </div>

</section>