<md-progress-bar *ngIf="isLoading" mode="query" color="primary" style="position: absolute; top: 0; left: 0;">
</md-progress-bar>

<section class="flex-row-top wrap-crm">

  <div class="left">

    <form [formGroup]="searchForm" class="search-form" novalidate>
      <md-input-container>
        <input formControlName="query" mdInput placeholder="Введите фамилию пациента">
      </md-input-container>
    </form>

    <div class="wrap-search-result">
      <ul>
        <li *ngFor="let patient of foundPatients" routerLink="./patient" routerLinkActive="active"
            [queryParams]="{ surname: patient.patientSurname, name: patient.patientName, patronymic: patient.patientPatronymic }">
          {{ patient.patientFullName }}
        </li>
      </ul>
    </div>

  </div>

  <div class="right">

    <router-outlet></router-outlet>

  </div>

</section>