:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/deep/ .mat-input-container {
  &.white {
    .mat-input-underline {
      background-color: white;
    }

    label:not(.mat-empty) {
      display: none;
    }

    label.mat-empty {
      color: #eeeeee;
    }
  }
}

.date {
  font-size: 0.8em;

  ul {
    padding-left: 8px;
  }

  li {
    width: 160px;
    margin-right: 20px;
  }

  .mat-datepicker-toggle {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAD1BMVEUAAAD///////////////+PQt5oAAAABHRSTlMASuLjm9VMIAAAADdJREFUeAFjIABYWBAsIiQYmVhQABMjVIKZBQ0ww3RjAAokMN1OWAJhAv0lIICGEpjBjjuiqAoAE5gDFW825WYAAAAASUVORK5CYII=);
  }
}

.date-range-selection {
  margin-left: 10px;
  color: #333333;
  border-radius: 3px;
  background-color: #f8f8f8;

  li {
    position: relative;


    &.active {
      .mat-button {
        color: #333333;
        background-color: #dcedc8;
      }
    }
  }

  li:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: #dddddd;
  }

  li:last-child:after {
    width: 0;
  }

  .mat-button {
    min-width: 50px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 0;
  }
}