<form [formGroup]="dateForm" class="date" novalidate>
  <ul class="flex-row">
    <li>
      <md-input-container class="white">
        <input formControlName="startDate" mdInput [mdDatepicker]="startDate"
               placeholder="Начальная дата">
        <button mdSuffix [mdDatepickerToggle]="startDate"></button>
      </md-input-container>
      <md-datepicker #startDate></md-datepicker>
    </li>
    <li>
      <md-input-container class="white">
        <input formControlName="endDate" mdInput [mdDatepicker]="picker"
               placeholder="Конечная дата">
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
      </md-input-container>
      <md-datepicker #picker></md-datepicker>
    </li>
  </ul>
</form>

<ul class="flex-row date-range-selection">
  <li *ngFor="let button of buttons" [ngClass]="{'active': button.isActive}">
    <button md-button (click)="setDateRange(button)">
      {{ button.title }}
    </button>
  </li>
</ul>