.wrapper-outer {
  padding: 20px 0;
}

.logo {
  width: 200px;
  height: 68px;
}

.right-section {
  float: right;

  .call-us-wrap {
    display: table;
  }

  .call-us {
    display: table-cell;
    vertical-align: middle;
    height: 68px;

    .phone {
      display: inline-block;
      vertical-align: top;
      padding: 2px 0;
      font-size: 22px;
    }

    .note {
      font-size: 13px;
      text-align: right;
    }
  }
}