<div class="wrapper-outer">
  <div class="wrapper-inner">
    <ul class="contacts">
      <li>
        <md-icon class="inc" svgIcon="home-page:map-marker"></md-icon>
        <a class="inc">Красноярск, Ленина, 102</a>
      </li>
      <li>
        <md-icon class="inc" svgIcon="home-page:email"></md-icon>
        <a class="inc">help@aldenta-lenina.com</a>
      </li>
    </ul>
    <ul class="social">
      <li>
        <md-icon class="inc" svgIcon="home-page:facebook"></md-icon>
      </li>
      <li>
        <md-icon class="inc" svgIcon="home-page:vk"></md-icon>
      </li>
      <li>
        <md-icon class="inc" svgIcon="home-page:instagram"></md-icon>
      </li>
      <li>
        <md-icon class="inc" svgIcon="home-page:odnoklassniki"></md-icon>
      </li>
      <li *ngIf="!isLoggedIn" class="signIn">
        <a [routerLink]="['/', { outlets: { popup: ['login'] } }]">войти</a>
      </li>

      <li *ngIf="isLoggedIn" class="user-greeting">
        <span>Здраствуйте! {{ currentUser.firstName + ' ' + currentUser.lastName }}</span>
      </li>
      <li *ngIf="isLoggedIn" class="user-menu">
        <button md-icon-button [mdMenuTriggerFor]="userMenu">
          <md-icon svgIcon="main:dots-horizontal"></md-icon>
        </button>
        <md-menu #userMenu="mdMenu">
          <button md-menu-item [routerLink]="['/analytics']">
            <md-icon svgIcon="main:chart-bar"></md-icon>
            <span>Статистика</span>
          </button>
          <button md-menu-item (click)="exit()">
            <md-icon svgIcon="main:logout-variant"></md-icon>
            <span>Выйти</span>
          </button>
        </md-menu>
      </li>

    </ul>
  </div>
</div>
